* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: #ADA2FF;
}

.container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-div{
    height: 40%;
    width: 50%;
    background-color: #C0DEFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content{
    text-align: center;
    font-size: 23px;
}

.author{
    margin-top: 1.5%;
    font-size: 18px;
}

.button{
    cursor: pointer;
    margin-top: 5%;
    padding: 1% 7% 1% 7%;
    border-radius: 7px;
    border: none;
    background-color: #FFF8E1;
}